{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Symptom Checker{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="vm">
    <p>Input your symptoms below to get a list of possible diagnoses
        [[ greeting ]]</p>
    <form method="POST">
        <label for="symptoms">Type in symptoms here</label>
        <div class="drop-down">
            <input name="symptom" id="symptom" list="symptoms"
                   placeholder="e.g Cough"/>
            <datalist id="symptoms">
                {% for symptom in all_symptoms %}
                <option value="{{ symptom.Name }}">{{ symptom.Name }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="categories">
            <label for="symptoms">Or search by category</label>
        </div>
</div>
</form>


<!--    {% for body_location in body_locations %}-->
<!--    <datalist>-->
<!--        <option>{{ body_location.Name }}</option>-->
<!--        {% if not loop.last %}-->

<!--        {% endif %}-->
<!--    </datalist>-->

<!--    {% endfor %}-->
<script src="https://unpkg.com/vue@3"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}



