{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Symptom Checker{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="vm">
    <p>Input your symptoms below to get a list of possible diagnoses
        [[ greeting ]]</p>
    <form method="POST">
        <label for="symptoms">Type in symptoms here</label>
        <div class="drop-down">
            <input name="symptom" id="symptom" list="symptoms"
                   placeholder="e.g Cough"/>
            <datalist id="symptoms">
                {% for symptom in all_symptoms %}
                <option value="{{ symptom.Name }}">{{ symptom.Name }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="categories">
            <label for="symptoms">Or search by category</label>
            {% for body_location, sublocations in symptoms_by_location.items()
            %}
            <ul>
                <li class="body-location"
                    @click="toggleLocation">
                    {{ body_location }}
                    {% for sublocation in sublocations %}
                    {% for curr_location, symptoms in sublocation.items() %}
                    <ul>
                        {% if symptoms %}
                        <li v-show="checkLocation"
                            class="body-sublocation"
                            ref="{{curr_location['Name']}}">
                            {{ curr_location }}
                            <ul>
                                {% for symptom in symptoms %}
                                <li class="symptom" ref="{{symptom}}">
                                    {{ symptom['Name'] }}
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </form>
</div>


<!--    {% for body_location in body_locations %}-->
<!--    <datalist>-->
<!--        <option>{{ body_location.Name }}</option>-->
<!--        {% if not loop.last %}-->

<!--        {% endif %}-->
<!--    </datalist>-->

<!--    {% endfor %}-->
<script src="https://unpkg.com/vue@3"></script>'
<!--<script>-->
<!--    const symptomsByLocation = JSON.parse('{{jsSymptoms | safe}}')-->
<!--    console.log(symptomsByLocation)-->
<!--</script>-->
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}



